<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Optimal Price Table</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
  </head>
  <body>
    <div class="logo">
      <img src="img/Optimal_Pricing.png"></img>
    </div>
    <nav>
      <div class="menu">
        <%if (data!='undefined') { %>
          <a href="/index">Home</a>
        <% } else{ %>
          <a href="/">Home</a>
        <% } %>
        <a href="/visualisation">Visualisation</a>
        <!-- <a href="#contact">Contact</a> -->
        <%if (currentUser!=null) { %>
          <a href="/history">History</a>
        <% } %>
        <a href="/about">About</a>
        <a href="/login">Log In</a>
      </div>
    </nav>
    <div class="container" style="min-height: max-content;">
    <form class="login" action="/handlesignup" method="post">
      <div class="signup">
        <%if (errorMessage) { %>
        <h4 href=""><%= errorMessage %></h4>
        <% } %>
        <label for="uname"><b>Name</b></label>
        <input type="text" class="textField" placeholder="Enter Name" name="uname" required />

        <label style="margin-left:35px;"></label>
        <label for="unric"><b>NRIC</b></label>
        <input type="text" class="textField" placeholder="Enter NRIC" name="unric" required />

        <br /><br />
        <!-- <label style="margin-left:35px;"></label> -->
        <label for="uDOB"><b>Date of Birth</b></label>
        <input type="text" class="textField" placeholder="Enter Date of Birth" name="uDOB" required />

        <label for="uphone"><b>Phone No</b></label>
        <input type="text" class="textField" placeholder="Enter Phone Number" name="uphone" required />

        <br /><br />
        <label for="uaddress"><b>Address</b></label>
        <input type="text" class="textField" placeholder="Enter Address" name="uaddress" required style="width: 710px;"/>

        <br/><br/>
        <label for="upostal"><b>Postal Code</b></label>
        <input type="text" class="textField" placeholder="Enter Postal Code" name="upostal" required />

        <label for="ucompany"><b>Company</b></label>
        <input type="text" class="textField" placeholder="Enter Company" name="ucompany" required />

        <br /><br />
        <label for="uemail"><b>Email</b></label>
        <input type="text" class="textField" placeholder="Enter Email" name="uemail" required />

        
        <label for="psw"><b>Password</b></label>
        <input type="password" class="textField" placeholder="Enter Password" name="psw" required
        />

        <!-- <label>
          <input type="checkbox" checked="checked" name="remember" /> Remember me
        </label> -->
        <br /><br /><br /><br /><br /><br />
        <button class="btn" style="margin: auto;" type="submit">Sign Up</button>
      </div>
    </form>
    <br /><br /><br /><br />
    </div>

    <!-- Site footer -->
    <footer class="site-footer">
      <div class="footer-container">
        <div class="footer-col">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">OptimalPrice.com <i>Pricing Analysis Calculator </i> is an ....</p>
            </div>
        </div>
        <div class="footer-col">
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="/about">About Us</a></li>
                <li><a href="/about">Contact Us</a></li>
                <li><a href="#">Contribute</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Sitemap</a></li>
              </ul>
            </div>
          </div>
        <hr>
        <div class="footer-container">
          <div class="footer-row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
           <a href="#">Optimal Pricing System</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="#"><img src="img/facebook.png" class="fa fa-facebook" style="width:100%;height: 100%;"></img></a></li>
                <li><a class="twitter" href="#"><img src="img/twitter.png" class="fa fa-twitter" style="width:100%;height: 100%;"></img></a></li>
                <li><a class="linkedin" href="#"><img src="img/linkedin.jpg" class="fa fa-linkedin" style="width:100%;height: 100%;"></img></a></li>   
              </ul>
            </div>
          </div>
        </div>
    </footer>

  </body>
</html>
