<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Optimal Price Table</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
  </head>
  <body>
    <div class="logo">
      <img src="img/Optimal_Pricing.png"></img>
    </div>
    <nav>
      <div class="menu">
        <%if (data) { %>
          <a href="/index">Home</a>
        <% } else{ %>
          <a href="/">Home</a>
        <% } %>
        <a class="active" href="/visualisation">Visualisation</a>
        <!-- <a href="#contact">Contact</a> -->
        <%if (currentUser!=null) { %>
          <a href="/history">History</a>
        <% } %>
        <a href="/about">About</a>
        <%if (currentUser) { %>
        <a href="/logout">Log Out</a>
        <% } else{ %>
        <a href="/login">Log In</a>
        <% } %>
      </div>
    </nav>
    <div class="container">
      <%if (data!='undefined') { %>
        <div class="intro">
          <h1>Market Share</h1>
        </div>
        <p>
          <img src="img/GM_x_out.png" alt="testing" />
        </p>
      <% } else { %>
        <div class="sideBySide">
            <div class="left">
            <img src="img/visual_tools3.png" />
            <br/>
            <img src="img/visual_tools.png" />
            </div>
            <div class="right">
              <p style="font-size: larger;">
              Data analysis is a process of importing, cleansing, wrangling, and modeling data with the goal of discovering functional and convenient information, informing conclusions, and supporting decision-making. 
              <br/><br/>
              It is an especially useful tools to make pricing decision. Let's take a closer look on how your business is doing with the different prices set.
              <br/><br/>
              Try it yourself now!
              </p>
              <br/><br/>
              <!-- <button class="discoverBtn">Discover More</button> -->
              <form action="/">
                <input class="discoverBtn" type="submit" value="Discover More" />
            </form>
            </div>
        </div>
      <% } %>
  </div>

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="footer-container">
      <div class="footer-col">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">OptimalPrice.com <i>Pricing Analysis Calculator </i> is an ....</p>
          </div>
      </div>
      <div class="footer-col">
          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="/about">About Us</a></li>
              <li><a href="/about">Contact Us</a></li>
              <li><a href="#">Contribute</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
        </div>
      <hr>
      <div class="footer-container">
        <div class="footer-row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
         <a href="#">Optimal Pricing System</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><img src="img/facebook.png" class="fa fa-facebook" style="width:100%;height: 100%;"></img></a></li>
              <li><a class="twitter" href="#"><img src="img/twitter.png" class="fa fa-twitter" style="width:100%;height: 100%;"></img></a></li>
              <li><a class="linkedin" href="#"><img src="img/linkedin.jpg" class="fa fa-linkedin" style="width:100%;height: 100%;"></img></a></li>   
            </ul>
          </div>
        </div>
      </div>
  </footer>

  </body>
</html>
